.service-top-btn-box {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
 margin-bottom: auto;
 margin-top: 2%;
 margin-right: auto;
 margin-left: 2%;
   
}

.service-top-btn {
    border: 2px solid #F47721;
    border-radius: 30px;
    background-color: transparent;
    
}


