.connect_btn{
    padding: 0.8% 3% ;
    font-size: 18px;
    font-weight: 500;
background: none;
border: 2px solid #ff7721;
border-radius: 30px;
text-transform: capitalize;
}

.connect_btn:hover{
background-color: #ff7721;
color: #ffffff;
}