.vl {
  border-left: 2px solid #F5F5F5;
  height: 80px;
  margin-top: 20px;
}

.client-up-shadow {
  /* border: 1px solid red; */
  height: 5px;
  box-shadow: 10px 5px 50px white;
}
.total_outer_div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}
.total_div{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
margin: auto;
}
.home-client-band {

  height: 1px;
  background-color: white;
  margin-top: -3px;
}
.line_div{
  height: 100px;
  width: 2px;
  background-color: lightgrey;
}

@media screen and (max-width:480px) {
  .vl {

    height: 28px;
    margin-top: 8px;
  }
  .line_div{
    height: 30px;

  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .line_div{
    height: 60px;

  }
}