.aboutChoose_headingImg_div {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.ChooseContent_container {
    margin: 4.2% auto;
}

.aboutChoose_col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.choose_boxHeading_div {
    height: 100%;
    width: 80%;
    padding: 15% 25px;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 2px 2px 2px 5px rgba(128, 128, 128, 0.6);
}

.chooseBox_heading {
    font-size: 3vw;
    text-transform: uppercase;
    font-family: poppins;
    font-weight: 600;
    color: #ff7721;
    margin-bottom: 1.5rem;
}
.choose_title{
    text-transform: capitalize;
}

.choose_boxText {
    color: black;
}

/*  */
@media (max-width: 767px) {
    .choose_boxHeading_div {
        width: 100%;
        font-size: 14px;
    }
}

/*  */
@media (min-width: 768px) and (max-width: 1024px) {
    .choose_boxHeading_div {
        width: 100%;
        font-size: 14px;
    }
}