.abt-featured-gif-box {
    display: flex;

    justify-content: center;
    align-items: center
}

/* about-featured-slider-css */
.featured_container {
    max-width: 97%;
    gap: 0px;
    padding: 5px;
    margin: 25px auto 80px auto;
    background-color: rgba(211, 211, 211, 0.192);
}

.slider {
    max-width: 100%;
}

.aboutFetured_img {
    padding: 2%;
    height: 80px;
    margin: auto;
}

/* mobile-css */
@media (max-width: 768px) {
    .aboutFetured_img {
        height: 50px;
        padding: 5%;

    }
}