.heading_span {
    color: #FF7721;
}

.content_Outercontainer {
    margin: auto;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.experties_col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

.experties_card_div {
    padding: 0px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.experties_img {
height: 270px;
 margin-bottom: 10px;
 margin: auto;
}
.expertise_card_hdiv{
    margin-bottom: 10px;
}
.experties_card_heading {
    font-weight: 600;
    font-family: poppins;
    text-transform: uppercase;
}

.experties_card_text {
    font-size: 14px;
    font-family: poppins;
    text-transform: capitalize;
  }

@media (max-width: 767px) {
    .experties_img {
        max-height: 220px;

    }
    .experties_card_text{
        font-size: 13.5px;
        line-height: normal;
    }
}

/*  */
@media (min-width: 768px) and (max-width: 1024px) {

    .experties_img {
        max-height: 300px;

    }

}