.visionContent_container {
    margin: 7% auto;

}

.aboutvision_col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.ourvision_heading {
    margin: auto;
    color: lightgray;
    font-size: 5vw;
    font-weight: 600;
}

.vision_cardtext_div {
    height: auto;
    width: 80%;
    padding: 25% 35px;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: black;
    box-shadow: 2px 2px 2px 5px rgba(128, 128, 128, 0.6);

}

/*  */
@media (max-width: 767px) {
    .vision_cardtext_div {
        font-size: 14px;
        width: 100%;
    }
}

/*  */
@media (min-width: 768px) and (max-width: 1024px) {
    .vision_cardtext_div {
        font-size: 14px;
        width: 100%;
    }
}