.drop_container {
    display: flex;
    justify-content: space-around;
   align-items: center;
}

.dropdown {
    color: #ffffff;
}

.drop-btn {
    color: #ffffff;
    text-transform: uppercase;
}
.dropdown-item{
font-size: 15px;
text-transform: uppercase;
font-weight: 500;
}
.drop-item-heading{
color: #F47721;
font-size: 16px;
font-weight: 600;
}