.drop_container {
    display: flex;
    justify-content: space-around;
   align-items: center;
}
.drop-down:hover{
    color: #F47721;
}

/* .dropdown-menu:focus,.dropdown-menu .dropdown-item:hover .dropdown-menu:active .dropdown-menu::after .dropdown-item:active{
    background-color: transparent !important; 
    color: #000 !important; 
  } */
.drop-btn {
text-transform: uppercase;
font-size: 16px;
}
.dropdown-item{
font-size: 15px;
text-transform: uppercase;
font-weight: 500;
}

.dropdown-item:active{
 background-color: #fff;
 color: #000;
    }

.drop-item-heading{
color: #F47721;
font-size: 16px;
font-weight: 600;
}
@media (max-width: 767px) {
    .drop-btn {
        font-size: 14px;
        }
}