.exp_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3%;
}

.exp_top_heading_wrapper {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
margin-right: auto;
}

.exp_top_heading_div {
    margin: 5% 0px 3% 0px;
    font-size: 2.8vw;
    font-weight: 580;
    text-transform: uppercase;
    color: #F47721;
}

.exp_top_text_div {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    width: 80%;
}

.exp_btn_div {
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    margin: 5% auto 5% 0px;

}

.exp_btn {
    margin-top: 3.5%;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4% 0px;
    width: 160px;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #F47721;
    border-radius: 30px;
    background-color: transparent;
}

.exp_btn:hover {
    background-color: #F47721;
    color: #ffffff;
}



@media (max-width: 767px) {
    .exp_top_heading_div {
        font-size: 4vw;
    }

    .exp_top_text_div {
        font-size: 12px;
        width: 80%;
    }

    .exp_btn {
        font-size: 10px;
    }
}