.explore_banner_container {
    background-color: #1D1D1D;
    padding: 10px 3%;
    max-width: 100%;
}

.exp_links_div {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    gap: 3%;
    color: #ffffff;
}



.expbg_container {
    margin-top: 5%;
    padding: 15px 0px;
    background-color: #1D1D1D;
}

/* -------------------------------------- */
@media (max-width: 767px) {
    .exp_top_heading_div {
        font-size: 4vw;
    }

    .exp_top_text_div {
        font-size: 12px;
        width: 80%;
    }

    .exp_btn {
        font-size: 10px;
    }

    .exp_service_card_wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .exp_heading_wrapper {
        width: 95%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .exp_heading_div {
        font-size: 4vw;
    }

    .exp_text_div {
        font-size: 12px;
        width: 95%;
    }

    .exp_service_card_wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .exp_btn {
        font-size: 12px;
    }
}