.explore_banner_container {
    padding: 10px 3%;
    max-width: 100%;
    box-shadow: 0px 0px 2px 0px #f1f0f0;
}

.exp_links_div {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    gap: 3%;
    
}

.expbg_container {
    margin-top: 5%;
    padding: 15px 0px;
   
}
.exp_heading_wrapper {
    padding-bottom: .5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;

}

.exp_heading_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.8vw;
    font-weight: 580;
    text-transform: uppercase;
    color: #F47721;
}

.exp_text_div {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    width: 80%;
}

/* -------------------------------------- */
@media (max-width: 767px) {
   .exp_heading_wrapper {
        width: 95%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .exp_heading_div {
        font-size: 4vw;
    }

    .exp_text_div {
        font-size: 12px;
        width: 95%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .exp_btn {
        font-size: 12px;
    }
}