.exp_service_card_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

@media (max-width: 767px) {
.exp_service_card_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
}