.exphelpcard_container {}

.expmedia_card_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    width: 21rem;
    height: 220px;
    padding: 10px 6px;
    border-radius: 10px;
    margin: auto;
 }
.media_card_text_div{
margin: auto;
}
@media (max-width: 480px) {
    .expmedia_card_div{
        width: 95%;
        margin: 25px auto 0px auto;
    }
}
/*  */
@media (min-width: 768px) and (max-width: 1024px) {
    .expmedia_card_div {
        max-width: 14rem;
    }
    .media_card_text_div{
      width: 70%;
      margin: auto;
    }
}