.form_main_Container {
  width: 80%;
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.6);
  padding: 7% 0px 5% 0px;
 
}
.contactus_form{
  margin-right: 10px;
}

.form_group {
  position: relative;
  display: flex;
 }
 .input_errorbox{
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}

.inputfield_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 20px;
}

.input_fields {
  border: 1px solid;
  height: 50px;
  width: 24vw;
  padding: 10px;
  border-radius: 15px;
  border: none;
  padding-top: 25px;
  background-color: rgba(211, 211, 211, 0.348);


}
.input_fields:focus {
  outline: none;
  border: none;
  background-color: rgba(211, 211, 211, 0.348);
}


.mssg_input {
  padding-right: 25px;
  margin-bottom: 30px;
  height: 238px;
  width: 24vw;
  vertical-align: top;
  max-height: 245px;
}

.labels {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  /* color: #777; */
  pointer-events: none;
  transition: 0.2s;
}

.input_fields:focus~label,
.input_fields:valid~label {
  padding-top: 2.5px;
  top: -3px;
  left: 10px;
  font-size: 12px;
 }

textarea:focus~label,
textarea:valid~label {
  padding-top: 2.5px;
  top: -3px;
  left: 10px;
  font-size: 12px;
 }

.submit_btn {
  margin-top: 25px;
  background-color: #f47721;
  color: #fff;
  font-size: 16px;
  font-family: poppins;
  padding: 10px;
  border-radius: 10px;
}

.error_message {
    color: red;
  font-size: 12px;
  }


/* mobile-css */

@media (max-width: 767px) {
  .form_main_Container {
    width: 90%;
    padding: 5%;
  }

  .inputfield_wrapper {
    flex-direction: column;
    gap: 0;
  }

  .input_fields {
    width: 85vw;
    margin-bottom: 0.2rem;
}
  .mssg_input {
 margin-bottom: .2rem;
 min-height: 50px;
 max-height: 70px;
 width: 85vw;
 padding-top: 12px;
  }
  .input_errorbox{
    margin-bottom: 20px;

  }
  .submit_btn {
    font-size: 12px;
    font-family: poppins;
    padding: 8px 10px ;
    border-radius: 10px;
  }
}

/* tablet-css */

@media (min-width: 768px) and (max-width: 1024px) {
  .form_main_Container {
    width: 90%;
    padding: 5%;
  }

  .input_fields {
    width: 38vw;
    margin-bottom: .2rem;
}
.mssg_input {
  margin-bottom: 30px;
  height: 238px;
  vertical-align: top;
  max-height: 245px;
}
}

/*  */