.nav-row {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  align-items: center;
    justify-content: space-between;

}
.nav-container{
padding: 5px;

}

.nav-col-two-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.nav-col-two {
    width: 80%;
    justify-content: space-around;
align-items: center;
    font-size: 1vw;
}

.nav-icon-box {
    width: auto;
   }
.nav-icon-img{
    width: 90%;
    margin-top: 2px;
    }


.color-mode-change {
margin-top: -40px;
}


.nav-menu-mob {
    display: none;
    /* align-items: center;
    /* border: 1px solid red; */
    /* display: flex;
    justify-content: center;  */

}

@media all and (max-width: 640px) {
 .nav-menu-mob {
        align-items: center;
        display: flex;
        justify-content: center;

    }

    .nav-col-two-container {
        display: none;
    }
}