.sub-question-heading{
font-size: 2vw;
font-weight: 550;
margin: 10px 1px 20px 1px;

}

.sub-img-heading{
    margin: auto;

    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.sub-img{

    width: 80%;
}


.h3-title{
    font-size: 1.5vw;
    font-weight: 600;
}
.span-link{
    color:blue;
    font-weight: bold;
}

.htwo-heading{

    font-size: 1.5vw;
    font-weight: 600;
}
.faq-htwo{
    font-weight: bold;
    font-size: 3vw;
}

.faq-hthree{
    font-weight: bold;
}