.blog-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    justify-content: center;
    padding-bottom: 5%;
}
.blog-box{
padding: 10px;
border-radius: 12px 12px 10px 10px;

}
.blog-img{
    border-radius:10px 10px 1px 1px;
}
.Blog-btn{
    margin:5px;
    background-color: #ff7721;
}
.Blog-btn:hover{
    background-color: #ff7621d2;
}