.foot-main-container {
    padding: 1vw;
}

/* .footer-desc{
font-size: 1vw;

} */
.footer-sub-heading {
    padding-top: 25px;
    text-align: left;
    font-size: 1vw;
}

.foot-sub-text {
    margin-bottom: 10px;
    font-size: 1vw;
    text-align: left;
    font-weight: 500;
  
}
.ph_link:hover{
    color: #ff7722;
}
.em_link:hover{
    color: #ff7722;
}
.footer-desc{
    text-transform: capitalize;
}

.icon-media {
    font-size: 30px;
}


@media screen and (max-width:480px) {
    .foot-main-container {
        padding-top: 1vw;
        padding-right: 1vw;
        padding-left: 1vw;
        padding-bottom: 15vw;
      
    }
    .foot-sub-text {
        margin-bottom: 5px;
        font-size: 2vw;
        text-align: left;
        font-weight: 550;
    }


}

@media all and (min-width:481px) and(max-width:780px) {
    .icon-media {
        color: pink;
        font-size: 30px;
    }

}