  .exptypes_form_outercontainer{
    display: flex;
    justify-content: center;
    color: #ffffff;
    }

 .exp_types_form {
    margin: auto;
    background-color: lightgray;
    padding: 20px;
    border-radius: 15px;
  }
  
  .field_group {
    width: auto;
    margin: 2rem auto 0px auto;
    position: relative;
    display: flex;
    align-items: center;
  
  }
  .form_fields {
    margin: auto;
    padding-top: 15px;
    padding-left: 10px;
    border: 1px solid;
    height: 50px;
    width: 280px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #2D2D2D;
  }
  .mssg_field{
   
  }
  
  .form_labels {
    position: absolute;
    top: 2px;
    left: 10px;
    font-size: 15px;
    /* color: #777; */
    pointer-events: none;
    transition: 0.2s;
  }
  
  .form_fields:focus~label,
  .form_fields:valid~label {
    padding-top: 2.5px;
    top: -3px;
    left: 10px;
    font-size: 12px;
  
  }
  .form_fields:hover{
    border: none;
    outline: none;
   }
  .mssg_field {
    padding: 25px 14px 0px 10px;
    min-height: 50px;
    max-height: 70px;
  }
  
  .form_submit_btn {
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: #ff7722;
    color: #fff;
    font-size: 16px;
    font-family: poppins;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
  }
  
  .error {
    color: red;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
  }
  
  
  @media (max-width: 767px) {
    .cards_imgform_wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
    }
  
    .image-front,
    .image-back {
      margin: 35px auto 5px auto;
  
    }
  }