.fssai_card_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    width: 19rem;
    height: 335px;
    padding: 10px 6px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 7px 5px #f1f0f0; */
  background-color: none;
  }
  .card-box{
        box-shadow: 0px 0px 7px 5px #f1f0f0;
  }
  .fssai_icon_div {
    border-radius: 50%;
    width: 50px;
    margin: 2px auto 15px auto;
    gap: 0px;
    box-shadow: 0px 0px 2px 1px #f1f0f0;
  }
  
  .fssai_icon {
    /* background-color: #D9D9D9;
    border-radius: 50%;
    padding: 7px; */
    margin: 0px auto;
  }
  
  .fssai_title_div {
    margin-bottom: auto;
  }
  
  .fssai_title {
    font-size: 16px;
    font-weight: 550;
    text-transform: uppercase;
    color: #F47721;
  }
  
  .fssai_text {
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 400;
   margin: auto;
  }
  
  @media (max-width: 480px) {
    .card-box{
      width: 90%;
      box-shadow: 0px 0px 7px 5px #f1f0f0;
}
    .fssai_card_div {
      width: 100%;
      margin: 20px auto;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .fssai_card_div {
      max-width: 19rem;
    }
  }
  