.box-shadow{
   display: flex;
   justify-content: center;
   align-items: center;
    padding: 20px 2px;
    box-shadow: 0px 0px 5px 2px #f1f0f0;
}
.inner_box{
    padding: 10px 0px;
}
.exp_iso_heading_div{
    font-size: 2vw;
    text-transform: capitalize;
    text-align: left;
    font-weight: 500;
    color: #f47721;
}
.exp_iso_text_div{
    font-size: 16px;
    text-align: left;
}
.exp_iso_pTag_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    
}
.ptag_heading{
    font-size: 18px;
    font-weight: 500;
    color: #f47721;
    line-height: normal;
}
.pTag_text{
    font-size: 16px ;
}
/*  */
@media (max-width: 480px) {
    .box-shadow{
   padding: 20px 12px;
     }
    .exp_iso_heading_div{
        font-size: 4vw;
   }
    .exp_iso_text_div{
        font-size: 12px;
      }
      .ptag_heading{
  font-size: 14px;
    }
    .pTag_text{
        font-size: 12px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {

}

