.exp_iso_heading_div{
    font-size: 2.5vw;
    text-transform: capitalize;
    text-align: left;
    font-weight: 500;
    color: #f47721;
}
.exp_iso_text_div{
    font-size: 17px;
    text-align: left;
}
.exp_iso_pTag_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    line-height: normal;
}
.ptag_heading{
    font-size: 18px;
    font-weight: 500;
    color: #f47721;
}