.doc_rq_boxes{
    border: 1px solid #f47721;
    border-radius: 15px;
    padding: 0px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center !important;
    text-align: left;
    margin-top: 1rem;
    width: 45vw;
}
.vector_text_flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
}
.msme_vector{
    width: 7%;
    margin-right: 20px;
 }
.msme_ul{
    margin-left: 9%;
   
}
/*  */
@media (max-width: 480px) {
.doc_rq_boxes{
    width: 100%;
}
.vector_text_flex{
margin-top: 0px;
}
.msme_vector{
    width: 10%;
    margin-right: 10px;
    margin-top: 0%;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
    .doc_rq_boxes{
        width: 100%;
    }
}