.home-about-text{
    /* border:1px solid red; */
    font-family: poppins;
}
.up-shadow{
height: 10px;
    box-shadow: 0px 0px 50px white; 
  }

.home-about-band{
   height: 20px;
    background-color:#1d1d1d;
    margin-top: -15px;
}

  /* .home-about-container{
    box-shadow: 0px 0px 10px  black;
  } */
