.Home-top-container {
    /* border:1px solid red; */
    background-image: url("../../../../public/homtopbg.png");
    padding: 2% 0px;
    font-family: 'Poppins', sans-serif;
}

.home-all-heading {
    padding: 7vw 5vw 1vw 0vw;
    text-transform: capitalize;
    margin-right: auto;
}

.home-heading-one {
    text-align: left;
    font-size: 1.2vw;
    margin-right: auto !important;
}

.home-heading-two {
    text-align: left;
    font-size: 3.5vw;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
}

.home-heading-three {
    text-align: left;
    font-size: 3.5vw;
    color: #F47721;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
}

.home-heading-four {
    text-align: left;
    font-size: 3.5vw;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
}

.home-top-img-box {
    margin-top: -9vw;
}

.home-btn-img {
    display: flex;
justify-content: space-around;

}
.home-top-img {
    width: 28vw;
}
.home_top_btn_div{
    margin-right: auto;
}



@media screen and (max-width:480px) {
.home-all-heading {
        line-height: 7px;
        margin-right: auto;
    }

    .home-heading-one {
        margin-right: auto;
        text-align: left;
        font-size: 2vw;
        line-height: normal;

    }
}
/*  */
@media (min-width: 768px) and (max-width: 1024px) {
  
}