.Home-top-container {
    /* border:1px solid red; */
    background-image: url("../../../../public/homtopbg.png");
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}

.home-all-heading {
    padding: 8vw 5vw 1vw 5vw;
    text-transform: capitalize;
}

.home-heading-one {
    text-align: left;
    font-size: 1.4vw;

}

.home-heading-two {
    text-align: left;
    font-size: 3.5vw;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
}

.home-heading-three {
    text-align: left;
    font-size: 3.5vw;
    color: #F47721;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
}

.home-heading-four {
    text-align: left;
    font-size: 3.5vw;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
}

.home-top-img-box {
    margin-top: -2vw;
}

.home-btn-img {
    display: flex;
    /* justify-content: space-between; ....*/
    justify-content: space-around;

}

.home-top-img {
    width: 28vw;
}

.home-top-btn-box {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
 margin-bottom: auto;
 margin-top: 5%;
 margin-right: auto;
 margin-left: 8%;
}

.home-top-btn {
    border: 2px solid #F47721;
    border-radius: 30px;
    background-color: transparent;
    /* borderRadius={"30px"}  border={"2px solid #F47721"} bg="transparent" fontSize={"1vw"} fontWeight={"500 */
}

.home-top-btn :hover {
    color: #F47721;
}



/* .contact-btn-link :hover{
color:red
} */



@media screen and (max-width:480px) {
    .home-top-btn-box {
        align-items: center;
        width: 30vw;
        /* border:1px solid red; */
        display: flex;
        justify-content: left;
        margin-bottom: 10vw;
        margin-left: 20px;
    }

    .home-all-heading {
        line-height: 7px;
    }

    .home-heading-one {
        text-align: left;
        font-size: 2vw;
    }


}