.hservice_cards_container {
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: normal;
    gap: 4.2%;
    padding: 0px 7% 20px 7%;
    margin: auto;

}

.hservice_card_div {
    padding: 5px;
    font-size: 12px;
    height: 460px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
  align-items: center;
    box-shadow: 1px 1px 10px 2px #f1f0f0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.hservice_cards_row {
    display: flex;
    justify-content: center;
    align-self: center;

}
.srvc_card_text_wrapper{
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hservice_img {
height: 250px;
margin-bottom: auto;
}

.hservice_cards_heading {
    font-weight: 600;
    font-size: 15px;
    
}

.hservice_cards_text {
    text-transform: capitalize;
    padding: 5px;
    font-size: 14px;
    color: #ffffff;
 
}
.expMore_btn_div{
     margin-top: 11%;
}
.expMore_btn{
font-size: 15px !important;
font-weight: 500;
outline: 2px solid #f47721;
padding: 5px 12px;
border-radius: 30px;
}
.expMore_btn:hover{
  color: #fff;
  background-color:#F47721 ;
  outline: none;
    }

/* css-for-galaxy-fold */
@media (min-width: 280px) and (max-width: 320px) { 
    .srvc_heading_descp{
        line-height: normal;
        text-align: center;
        margin: 0px auto 3.5% auto ;
        width: 100% !important;
    }
   .hservice_cards_container{
    gap: 20px;
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
   }
   .hservice_card_div{
    height: 350px !important;
    width: 90% !important;
}
  }
  /* css-for-mobiles */
@media (max-width: 480px) {
    .srvc_heading_descp{
        line-height: normal;
        text-align: center;
        margin: 0px auto 3.5% auto ;
        width: 80%;
    }
    .hservice_cards_container {
        width: 100%;
        padding: 0px 10px 20px 10px;
        gap: 22px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .hservice_card_div{
        height: 325px;
        width: 75%;
        margin: auto;
    }

    .hservice_img {
        height: 135px;
    }

    .hservice_cards_heading {
        font-size: 14px;
    }

    .hservice_cards_text {
        font-size: 12px;
    }
    .expMore_btn_div{
        margin-top: 8%;
   }
    .expMore_btn{
font-size: 12px !important;
font-weight: 500;
outline: 2px solid #fff;
padding: 3px 10px;
border-radius: 30px;
}

}

/* css-for-tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .hservice_cards_container {
        width: 100%;
        padding: 0px 10px 20px 10px;
        gap: 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
    .hservice_card_div{
        height: 400px;
    }
    .hservice_img {
        max-height: 160px;
    }
}

/* .home-service-container{
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:30px;
    padding: 0px 10% 20px 10%;
}
.home-service-content_box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 32rem;
border-radius: 10px;   
font-family: 'Poppins';
padding: 0px;
 box-shadow: 1px 1px 10px 2px #f1f0f0
}
.card_heading{
    font-size: 2vw;
    font-weight: 600;
    font-family: poppins;
}

.home-service-text-box{
       font-size: 1.2vw;
       padding: 2px 10px;
       
}

@media only screen and (max-width: 767px) {
 .home-service-container{
        padding: 5px;
     background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
       display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        gap:20px;
} 
.home-service-content_box{
    height: 18rem;
}
.home-service-text-box{
    font-size: 2vw;
   }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
   
    .home-service-content_box{
        height: 22rem;
    }
} */