.team-img-container {
  /* border:1px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 1vw;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  margin: auto;

}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  background-color: lightgray;
  padding: 20px;
  justify-content: space-evenly;
}

.gallery_container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  margin: auto;
  gap: 2px;
  width: 80%;

}

.gallery_container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 1%;
  gap: 2px;
  width: 85%;
  margin-top: 4%;
}

.gallery_container3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 1%;
  gap: 2px;
  border-radius: 15px;
  width: 85%;
  margin-top: 4%;
}

.t_img_div {
  width: 80%;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.299);
  box-shadow: 1px 1px 10px 2px rgba(211, 211, 211, 0.247);
}

@media (max-width: 767px) {
  .t_img_div {
    width: 90%;
    padding: 7px;
  }
}

/* .image-gallery img {
    grid-column: span 1;
    height: 100%;
  }
  .image-divider {
    grid-column: span 1;
    width: 15px;
    margin: 0%;
    height: 100%;
    background-color: black;
  }
  @media (max-width: 768px) {
    .image-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  } */
/* .line {
  width: 1px;
  background-color: black;
}

.team-img-box {
  border: 5px solid rgb(26, 25, 25);
  align-items: center;
  display: flex;
  width: 80%;

  justify-content: center;


  background-color: transparent;
  margin: auto;
}

.team-img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
} */