.hservice_cards_container {
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: normal;
    gap: 4.2%;
    padding: 0px 7% 20px 7%;
    margin: auto;

}

.hservice_card_div {
    padding: 5px;
    font-size: 12px;
    height: 460px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: normal;
    box-shadow: 1px 1px 10px 2px #f1f0f0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.hservice_cards_row {
    display: flex;
    justify-content: center;
    align-self: center;

}

.hservice_img {
    max-height: 256px;
}

.hservice_cards_heading {
    font-weight: 600;
    font-size: 15px;
    
}

.hservice_cards_text {
    text-transform: capitalize;
    padding: 5px;
    font-size: 14px;
    color: #ffffff;
   
}

/* css-for-galaxy-fold */
@media (min-width: 280px) and (max-width: 320px) { 
   .hservice_cards_container{
    gap: 20px;
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
   }
   .hservice_card_div{
    height: 280px !important;
}
  }
  /* css-for-mobiles */
@media (max-width: 480px) {
    .hservice_cards_container {
        width: 100%;
        padding: 0px 10px 20px 10px;
        gap: 22.5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .hservice_card_div{
        height: 315px;
    }

    .hservice_img {
        max-height: 120px;
    }

    .hservice_cards_heading {
        font-size: 14px;
    }

    .hservice_cards_text {
        font-size: 10px;
    }

}

/* css-for-tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .hservice_cards_container {
        width: 100%;
        padding: 0px 10px 20px 10px;
        gap: 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
    .hservice_card_div{
        height: 400px;
    }
    .hservice_img {
        max-height: 160px;
    }
}

/* .home-service-container{
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:30px;
    padding: 0px 10% 20px 10%;
}
.home-service-content_box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 32rem;
border-radius: 10px;   
font-family: 'Poppins';
padding: 0px;
 box-shadow: 1px 1px 10px 2px #f1f0f0
}
.card_heading{
    font-size: 2vw;
    font-weight: 600;
    font-family: poppins;
}

.home-service-text-box{
       font-size: 1.2vw;
       padding: 2px 10px;
       
}

@media only screen and (max-width: 767px) {
 .home-service-container{
        padding: 5px;
     background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
       display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
        text-align: center;
        gap:20px;
} 
.home-service-content_box{
    height: 18rem;
}
.home-service-text-box{
    font-size: 2vw;
   }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
   
    .home-service-content_box{
        height: 22rem;
    }
} */