
.SSL_heading_div{
    font-size: 3.5vw;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.SSL_title_text_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-transform: capitalize;
    text-align: left;
}
.ssl_title_div{
margin-bottom: 10px;
}
.ssl_text_div{
font-size: 16px;
}

@media (max-width: 768px) {
    .ssl_title_div {
  font-size: 12px;
  font-weight: 500;
    }
  
    .ssl_text_div {
      font-size: 11px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {

    
  }