.SSL_heading_div{
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.SSL_title_text_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-transform: capitalize;
    text-align: left;
}
.ssl_title_div{
margin-bottom: 10px;
}
.ssl_text_div{

}