.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heading_div {
  margin-bottom: 1.5%;
}

.page_heading {
  font-family: poppins;
  font-size: 3.2vw;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.heading_descp_div {
  margin-bottom: 3.5%;
  
}

.heading_description {
  line-height: normal;
  font-size: 18px;
  font-weight: 400;
  font-family: poppins;
  text-transform: capitalize;
  padding: 8px;
}

/* .heading_descp_div::first-letter {
    text-transform: uppercase !important;
  }
  .heading_descp_div::first-letter {
    text-transform: capitalize;
  } */
@media (max-width: 767px) {
  .page_heading {
    font-size: 4vw;
  }

  .heading_description {
    font-size: 11.5px;


  }
}

/* tablet-css */
@media (min-width: 768px) and (max-width: 1024px) {
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}